<div class="row">
  <div class="col-md-12">
    <%= form_for @comment, url: article_comments_url(@comment.article) do |f| %>
      <div class="form-group">
        <%= f.label :author %>
        <%= f.text_field :author, class: "form-control", placeholder: "Your name", required: true %>
      </div>

      <div class="form-group">
        <%= f.label :body, "Comment" %>
        <%= f.text_area :body, class: "form-control", required: true, rows: 10 %>
      </div>

      <%= f.button "Post Comment", type: :submit, class: "btn btn-primary" %>

    <% end %>

  </div>

</div>
