<div class="row">
  <div class="col-md-12">
    <%= form_for @article do |f| %>
      <div class="form-group">
        <%= f.label :author %>
        <%= f.text_field :author, class: "form-control", required: true %>
      </div>

      <div class="form-group">
        <%= f.label :subject, "Title" %>
        <%= f.text_field :subject, class: "form-control", required: true %>
      </div>

      <div class="form-group">
        <%= f.label :body, "Content" %>
        <%= f.text_area :body, class: "form-control", rows: "50", required: true %>
      </div>

      <%= f.submit "Post article", class: "btn btn-primary btn-lg" %>








    <% end %>
  </div>

</div>
