<div class="row">
  <article class="col-md-12 article-show">
    
    <h1><%= @article.subject %></h1>
    <h5>Written by <%= @article.author %></h5>
    <hr />

    <div class="row">
    
        
      <section class="col-md-9 article-body">
        <%= render_markdown(@article.body) %>
      </section>
      
      <aside class="col-md-2 col-md-offset-1">
        <ul class="list-unstyled article-buttons">
          <li>
            <%= link_to 'Edit Article', edit_article_url(@article), class: "btn btn-large btn-primary" %>
          </li>

          <li>
            <%= link_to 'Delete Article', article_url(@article), method: :delete, class: "btn btn-large btn-danger" %>
          </li>

        </ul>
      </aside>
      
    </div>
    <hr />
    <div class="row"> 
      <section class="col-md-12 article-comments">
        <h3>Comments</h3>

        <div class="row">
          <section class="comment-list col-md-6">
            <%= render partial: "comments/comment", collection: @article.comments[0..-2] %>
          </section>
          <section class="comments-post col-md-5 col-md-offset-1">
            <%= render partial: "comments/form" %>
          </section>
        </div>
      </section>
    </div>


  </article>
  


</div>
